/* FONT */

body {
	font-family:'Roboto Condensed',Arial,sans-serif;
	}


/* BACKGROUNDS AND COLORS */

/* color of the border on the top of the page */
body:after {
	background-color:#b8663e;
	}

/* background color of the current menu item */
@media screen and (min-width: 820px) {
	#nav #current, #nav a#current:after {
	background-color:#f06c24;
	}
}
	
/* background color of the headers in the slider */
.rslides-content h2 {
	background:#f06c24;
	}

/* hover color for the slider navigation arrows */
.next:hover, .prev:hover {
	background-color:#f06c24;
	}
	
/* background color of the form buttons */
button {
	background-color:#f06c24;
	}

/* background color of the features tags in the room pages */
.features li {
	background-color:lightgray;
	}

/* background colors for the search widget */
.search, .search h3 span {
	background-color:#f06c24;
	}

/* background color for the active listing type */
a.listing-active {
	background-color:#f06c24;
	}

/* background color for the price tags */
[class^="char"] {
	background-color:lightGray;
	}

/* border color for the links in the slider content */
.rslides-content p a:hover {
	border-color:#f06c24;
	}

/* background color of the footer area */
.footer {
	background-color:#f06c24;
	}

/* color for the links in the content */
a {
	color:#f06c24;
	}
.lista_info {
	color:#f06c24;
	}
.conclusion {
	color:#f06c24;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}

ul.ui-autocomplete {
    background-color: #d8d8d8;
    max-width: 234px;
    max-height: 234px;
    list-style-type: none;
    text-decoration: none;
}