/*

	Domus
	Created: 04/2013
	Version: 1.0
	By: myTheme at ThemeForest.net
	http://themeforest.net/user/myTheme


	...LAYOUT.............
	...HEADER.............
	...FOOTER.............
	...CONTENT............
	...WIDGETS............
	...LISTING............
	...SLIDER.............
	...FORMS..............
	...MISC...............
	...MEDIA QUERIES......



/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

body {color:#333;background:#f2f2f2;font-size:13px;line-height:20px;padding-top:5px;}
body:after {content:"";position:absolute;top:0;left:0;width:100%;height:5px;background-image:url(../img/mosaic.png);}
* {margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

header:after, #wrapper:after, .listing a:after, .listing:after, .listing-nav:after, .footer:after, #form-newsletter:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
:focus {outline:0;}

header {background:#e6e6e6;text-align:center;}
#wrapper {padding:40px 15px 0 15px;}


/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/

/* logo */
#logo img {margin:10px 0;}
#logo:hover {opacity:0.7;}

/* navigation */
#nav ul {margin:0;padding:0;width:100%;display:block;list-style:none;}
#nav li {text-align:left;}
#nav a {display:block;text-decoration:none;background:#ddd;color:#333;padding:5px 15px;border-bottom:2px solid #e6e6e6;}
.js #nav {clip:rect(0 0 0 0);max-height:0;position:absolute;display:block;overflow:hidden;zoom:1;}
#nav.opened {max-height:9999px;}

/* navigation toggle */
#nav-toggle {display:block;line-height:40px;text-decoration:none;color:#666;background:#ddd url(../img/sprite.png) 100% 100% no-repeat;text-align:center;font-weight:normal;}


/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/

/* testimonial */
.testimonial {padding:30px 15px 10px 15px;margin:10px 0 0 0;clear:both;width:100%;background:#e6e6e6;}
blockquote {margin:0 auto;}
blockquote p {font:italic 16px/1 Georgia,serif;color:#666;text-align:center;display:inline;background:url(../img/blockquote.png) 0 0 no-repeat;padding-left:30px;margin:0;}
blockquote p:after {content:'\201D';}
blockquote img {vertical-align:middle;margin-left:10px;}
blockquote cite {font-style:normal;color:#999;margin-top:10px;clear:both;display:block;}

.testimonial_empty {height: 20px;width:100%;background:#e6e6e6;}

/* footer */
.footer {clear:both;color:#fff;}
.footer-inner {padding:20px 15px 0 15px;}
.footer-inner a {color:#fff;text-decoration:underline;}
.footer-inner a:hover {color:#ddd;}

/* footer bottom */
footer {clear:both;padding:30px 0 50px 0;font-size:12px;text-align:center;}
footer ul {margin-bottom:10px;}
footer li {display:inline;margin:0 2px;}
footer li:before {content:"//";color:#ccc;margin-right:6px;}
footer li:first-child:before {content:"";}
footer a {color:#999;font-weight:normal;text-decoration:none;border-bottom:1px dotted #bbb;}
footer a:hover {color:#666;border-bottom-style:solid;}
footer p {margin:0;color:#999;}


/*-----------------------------------------------------------------------------------*/
/*	CONTENT
/*-----------------------------------------------------------------------------------*/

/* default margins */
p, blockquote, ul, ol, table, dl, pre, for {margin-bottom:20px;}

/* headers */
h1, h2, h3, h4 {font-weight:400;line-height:1.2;}
h1 {font-size:26px;margin-bottom:20px;border-bottom:4px double #ddd;padding-bottom:10px;font-weight:700;}
h1 small {font-size:inherit;color:#666;font-weight:normal;}
h2 {font-size:18px;margin:0 0 10px;}
h2 a {text-decoration:none;color:#666;}
h2.highlight {text-align:center;margin-bottom:30px;}
h3 {font-size:16px;margin:0 0 5px 0;text-transform:uppercase;}
.footer h3 {background:url(../img/line-horizontal.png) 0 100% repeat-x;padding-bottom:10px;margin-bottom:15px;}
h4 {font-size:14px;margin:0 0 5px 0;}

/* ingress */
.ingress {font-size:18px;line-height:24px;}

/* news date */
.meta {font-size:13px;color:#999;margin:-5px 0 10px 0;}

/* horizontal ruler */
hr {border:0;height:40px;margin:20px 0 0 0;border-top:4px double #ddd;background:transparent;clear:both;}

/* lists */
ul {list-style:square;}

/* links */
a:hover {color:#333;}

/* images */
img {max-width:100%;height:auto;border:0;}
p img {float:left;margin:0 10px 10px 0;}
p img.right {float:right;margin:0 0 10px 10px;}
p img.cem {float:none;margin:0 0 5px 0; display: block;}
p img.center {float:none;margin:0 auto; display: block; text-align: center;}

/* tables */
table {border-spacing:2px;border-collapse:separate;width:100%;}
table thead {text-transform:uppercase;color:#fff;}
table td, table th {padding:5px 10px;text-align:left;}
tbody tr {background:#fafafa;}
tr:nth-child(even) {background:#eaeaea;}


/*-----------------------------------------------------------------------------------*/
/*	WIDGETS
/*-----------------------------------------------------------------------------------*/

/* search widget */
.search {padding:5px;clear:both;position:relative;color:#fff;margin:0 -15px 30px;}
#home .search {margin:-15px -15px 30px -15px;}
.search-inner {border:1px solid rgba(0,0,0,0.1);padding:12px;display:block;}

.search h3 {text-align:center;background:url(../img/line-horizontal.png) 0 50% repeat-x;text-transform:uppercase;}
.search h3 span {padding:0 5px;}
.search small {color:rgba(0,0,0,0.4);font-size:11px;margin:0;}
.search label {text-transform:uppercase;color:#222;color:rgba(0,0,0,0.8);font-size:12px;line-height:26px;}
.search form {margin:10px 0 0 0;}
.search input, .search select {margin-bottom:10px;background-color:#e2e2e2;width:100%;color:#666;}
.search button {margin:10px 0 0 0;background-image:url(../img/sprite.png);background-position:100% 50%;padding:0 10px;text-align: left;}

/* social links */
#social li {display:inline;}
#social li a {display:inline-block;margin:4px 6px 6px 0;width:24px;height:24px;padding:0;}
#social li a:hover {opacity:0.7;}
#social li a#rss {background-position:-100px -60px;}
#social li a#facebook {background-position:-124px -60px;}
#social li a#twitter {background-position:-148px -60px;}
#social li a#flickr {background-position:-172px -60px;}
#social li a#instagram {background-position:-196px -60px;}
#social li a#google {background-position:-220px -60px;}
#social li a#youtube {background-position:-244px -60px;}
#social li a#vimeo {background-position:-268px -60px;}
#social li a#pinterest {background-position:-292px -60px;}


/*-----------------------------------------------------------------------------------*/
/*	LISTING
/*-----------------------------------------------------------------------------------*/

/* listing nav */
.listing-nav {margin-bottom:25px;}
.listing-nav li {display:inline;font-size:11px;text-transform:uppercase;color:#666;margin-right:5px;}
.listing-nav li:first-child {margin-right:10px;}
.listing-nav a {text-decoration:none;background:#ccc url(../img/sprite.png) 0 -200px;padding:0 10px;text-indent:-9999px;width:40px;line-height:30px;display:inline-block;}
.listing-nav a.listing-full {background-position:-40px -200px;}

/* listing */
.listing {margin-bottom:-5px;}
.listing li {margin-bottom:25px;list-style:none;}
.listing.listing-full li.one_half {clear:both;width:100%;}
.listing.listing-full li p {margin-bottom:10px;}

.listing a {font-weight:bold;text-decoration:none;display:block;background:#fafafa;padding:10px 10px 0 10px;position:relative;}
.listing a:hover {background:#fff;}
.listing a:hover h3 span {background:#fff;}
.listing h3 {text-transform:none;background:url(../img/line-horizontal.png) 0 50% repeat-x;}
.listing h3 span {background:#fafafa;padding-right:5px;}

/* featured listing */
.featured {position:absolute;top:-2px;right:-2px;background:url(../img/featured.png) no-repeat;width:120px;height:60px;text-indent:-9999px;}

/* price tags */
.price {display:inline-block;margin-bottom:20px;}
.listing .price {margin-bottom:6px;}
[class^="char"] {font-size:18px;line-height:1.2;display:inline-block;background-image:url(../img/price.png);background-position:0 50%;background-repeat:repeat-x;color:#fff;margin-right:1px;text-align:center;position:relative;padding:0 3px;font-weight:700;font-style:normal;width:1em;}
[class^="char"]:after {content:"";background:url(../img/price.png) 0 50% repeat-x;position:absolute;top:0;left:0;width:100%;height:100%;}
.listing [class^="char"] {font-size:14px;}

/* listing content */
.listing img {margin:0 0 5px 0;}
.listing.listing-full img {float:right;margin:0 0 10px 10px;}
.listing p {font-weight:normal;font-style:normal;color:#333;font-size:13px;line-height:16px;display:none;}
.listing-full p {display:block;}
.listing-full h3 {clear:both;}

/* listing info */
.listing-info {margin:0 0 10px 0;}
.listing-full .listing-info {margin:0 0 5px 0;}
.listing-info li {display:inline;color:#333;font-weight:normal;/*padding-left:16px;*/background-position:0 50%;background-repeat:no-repeat;font-size:13px;margin-right:8px;}
.listing-info li.listing-info-beds {background-image:url(../img/listing-info-beds.png);}
.listing-info li.listing-info-baths {background-image:url(../img/listing-info-baths.png);}
.listing-info li.listing-info-area {background-image:url(../img/listing-info-area.png);}

/* pages navigation */
.pages {clear:both;}
.pages li {display:inline-block;margin-right:4px;list-style:none;color:#999;}
.pages a {background:#ddd;color:#999;text-decoration:none;padding:0 4px;font-weight:normal;}
.pages a:hover {background:#ccc;}

/* features  */
.features li {display:inline-block;margin:8px 10px 0 0;padding:0 8px;text-decoration:none;text-transform:uppercase;color:#fff;font-size:11px;}


/*-----------------------------------------------------------------------------------*/
/*	SLIDER
/*-----------------------------------------------------------------------------------*/

#home #wrapper {padding-top:0;}

/* slides */
#slider {position:relative;z-index:0;margin:0 -15px 15px -15px;}

.rslides {clear:both;position:relative;list-style:none;overflow:hidden;width:100%;margin:0;}
.rslides li {-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;}
.rslides li:first-child {position:relative;display:block;float:left;}
.rslides img {display:block;float:left;border:0;margin-bottom:0;width:auto;max-width:none;height:360px;}

/* slides content */
.rslides-content {position:absolute;left:0;bottom:20px;width:90%;}
.rslides-content h2 {font-size:28px;line-height:1.2;color:#fff;margin-bottom:20px;display:inline-block;padding:8px 20px 8px 15px;font-weight:300;}
.rslides-content p {clear:both;line-height:1.5;color:#eee;padding:10px 20px 10px 15px;display:inline-block;background:#222;background:rgba(0,0,0,0.8);}
.rslides-content p a {color:#eee;border-bottom:2px solid #555;border-bottom:2px solid rgba(255,255,255,0.3);text-decoration:none;}

/* slides navigation */
.next, .prev {position:absolute;left:40px;bottom:5px;display:block;width:30px;height:30px;text-indent:-9999px;background-color:#222;background-color:rgba(0,0,0,0.8);background-image:url(../img/sprite.png);background-repeat:no-repeat;z-index:9999;}
.next {background-position:100% 0;}
.prev {background-position:-400px 0;left:5px;}
.next:hover {background-position:100% -30px;}
.prev:hover {background-position:-400px -30px;}

/* slides pages */
.rslides_tabs {position:absolute;left:0;bottom:-20px;text-align:center;width:100%;z-index:999;}
.rslides_tabs li {display:inline;list-style:none;text-indent:-9999px;}
.rslides_tabs li a {display:inline-block;line-height:30px;width:10px;height:10px;margin:0 3px;background-color:#222;background-color:rgba(0,0,0,0.6);}
.rslides_tabs li.rslides_here a {background-color:#666;background-color:rgba(255,255,255,0.3);}


/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/

label {line-height:30px;}
label em {color:#999;margin-left:4px;}
button, input, textarea, select {font-family:inherit;font-size:100%;}
input, textarea, select {width:100%;color:#333;padding:7px;margin-bottom:20px;display:block;border:0;background:#ddd;line-height:normal;}

input:focus, textarea:focus {background:#d8d8d8;}
textarea {overflow:auto;vertical-align:top;}
button {display:block;padding:0 10px;color:#fff;border:0;font-weight:bold;margin-bottom:20px;line-height:30px;clear:both;cursor:pointer;width:100%;text-transform:uppercase;border-bottom:2px solid rgba(0,0,0,0.2);}

/* errors */
em.error {height:0;display:none;text-indent:-9999px;float:right;}
input.error, textarea.error {background:#FFEDED;}

/* newsletter */
#form-newsletter input {width:80%;float:left;background:url(../img/transparent-black-010.png);background:rgba(0,0,0,0.1);color:#eee;color:rgba(255,255,255,0.6);opacity:1;}
#form-newsletter input:focus {background-color:rgba(0,0,0,0.15);}
#form-newsletter ::-webkit-input-placeholder {color:rgba(255,255,255,0.6);opacity:1;}
#form-newsletter ::-moz-placeholder {color:rgba(255,255,255,0.6);opacity:1;}
#form-newsletter button {clear:none;margin:0 0 20px 0px;width:20%;line-height:30px;padding:0;background-image:url(../img/sprite.png);background-position:0 50%;borde:0;}


/*-----------------------------------------------------------------------------------*/
/*	MISC
/*-----------------------------------------------------------------------------------*/

/* border-radius */
input, textarea, select, button, img, .button, .rslides_nav, .pages a, [class^="char"], [class^="char"]:after, .features li, .listing a, .listing-nav a {border-radius:3px;}
#form-newsletter input {border-radius:3px 0 0 3px;}
#form-newsletter button, .rslides-content h2, .rslides-content p {border-radius:0 3px 3px 0;}
.rslides_tabs li a {border-radius:100px;}
.rslides img, #logo img {border-radius:0;}

/* box-shadow */
button {-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2);}
input, textarea, select {-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset;box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset;}
.button {-webkit-box-shadow:0 0 1px rgba(0,0,0,0.3);box-shadow:0 0 1px rgba(0,0,0,0.3);}
.listing a {-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.listing a:hover {-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.2);box-shadow:0 1px 4px rgba(0,0,0,0.2);}

/* text-shadow */
.price {text-shadow:0 1px 1px rgba(0,0,0,0.1);}

/* transition */
a, input, textarea {-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s;}


/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media screen and (min-width: 235px) {
	
	/* search */
	.search .one_half {float:left;display:inline;width:48%;margin:0 4% 0 0;}
	.search .one_half.last {margin-right:0;}
	
}

@media screen and (min-width: 500px) {

	/* layout */
	#wrapper, footer, .footer-inner, .header-inner, .testimonial blockquote {width:460px;margin:0 auto;}
	#wrapper {padding:40px 0 0 0;}
	#home #wrapper {position:relative;margin-top:-140px;}
	#home header {padding-bottom:140px;}
	.footer-inner {padding:30px 0 10px 0;}
	.testimonial {padding:30px 15px 30px 15px;}
	
	/* slider */
	#slider {margin:0 0 15px 0;}
	#home #slider {margin:0;}
	
	/* navigation */
	#nav-toggle {border-radius:3px 3px 0 0;}
	#nav a {border-radius:3px;}
	
	/* search */
	#home .search {border-radius:0 0 3px 3px;margin:0 0 30px 0;}
	.search {border-radius:3px;margin:0 0 30px 0;}
	
	/* typography */
	h2 {font-size:22px;}
	h2.highlight {background:url(../img/line-horizontal.png) 0 50% repeat-x;text-align:center;margin-bottom:30px;}
	h2.highlight span {background:#F0F0F0;padding:0 15px;}
	
}


@media screen and (min-width: 820px) {
	
	/* layout */
	body {font-size:14px;}
	#wrapper, footer, .footer-inner, .header-inner, .testimonial blockquote {width:96%;}
	#property #slider, #property .rslides {width:100%;}
	header {padding:10px 0 30px;background:#e6e6e6;}
	#home header {padding-bottom:140px;}
	#wrapper {padding:40px 0 0 0;}
	#home #wrapper {position:relative;margin-top:-100px;}
	.testimonial {padding:30px 0;margin:20px 0 0 0;}
	
	/* responsive navigation */
	.js #nav {position:relative;max-height:none;overflow:visible;}
	#nav-toggle {display:none;}
  
	/* navigation */
	#nav {background:url(../img/line-horizontal.png) 50% 50% repeat-x;}
	#nav li {display:inline-block;position:relative;text-transform:uppercase;padding:0 3px;margin:0 8px;background:#e6e6e6;}
	#nav a {display:inline-block;background:none;border:0;padding:5px 7px;}
	#nav a:hover {color:#666;}
	#nav a#current {color:#fff;position:relative;padding:5px 7px;}
	#nav a#current:after {content:"";position:absolute;bottom:-10px;left:50%;width:10px;height:10px;background-image:url(../img/sprite.png);margin-left:-5px;}
	
	/* slider */
	#slider, #home #slider {width:100%;margin:0 0 40px 0;}
	.rslides {width:100%;}
	.rslides img {display:block;height:auto;float:left;width:100%;border:0;margin-bottom:0;border-radius:3px;}
	
	#home .rslides img {width:auto;max-width:none;height:360px;}
	
	#home .rslides img {height:360px;}
	.rslides-content h2 {font-size:38px;float:left;}
	.rslides-content p {font-size:14px;width:60%;float:left;}
	
	.next, .prev {left:40px;bottom:5px;}
	.prev {left:5px;}
	
	/* search */
	#home .search {position:absolute;right:0;top:0;height:360px;width:270px;margin:0;border-radius:0 3px 3px 0;}
	#home .search-inner {height:350px;}
	.search {border-radius:3px;margin:0 0 30px 0;}
	
	/* testimonial */
	blockquote cite {margin:0 0 0 20px;clear:none;display:inline;}
	
	/* listing */
	.listing.listing-full a {padding:20px 20px 10px 20px;}
	.listing.listing-full h3 {background:none;clear:none;}
	
	/* basic grid system */
	.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .search .one_half {float:left;display:inline;width:48%;margin:0 4% 0 0;}
	.one_third {width:28.666666%;}
	.two_thirds {width:65.333333%;}
	.one_fourth {width:22%;}
	.three_fourths {width:74%;}
	.last, .search .one_half.last {margin-right:0;}
	.clear {clear:both;}
	
}

@media screen and (min-width: 1080px) {

	/* layout */
	#wrapper, heade, footer, .footer-inner, .header-inner, .testimonial blockquote  {width:1020px;}
	.testimonial {margin:40px 0 0 0;}
	.footer-inner {padding:50px 0 30px 0;}
	footer {padding:40px 0 80px 0;}	

	/* typography */
	h1 {font-size:44px;}
	
	/* slider */
	#property #slider {width:100%;}
	#property .rslides {width:100%;}	
	#property .next, #property .prev {left:980px;}
	#property .prev {left:945px;}	
	.next, .prev {left:710px;bottom:10px;}
	.prev {left:670px;}
	
	/* price tags */
	[class^="char"] {font-size:24px;}
	.listing [class^="char"] {font-size:16px;}	
	
}